@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap');

/* VARIABLES */
:root{
	--text: #ddd;
	--background: #000;
	--accent: orange;
	--grey: #222;
	--duration: 200ms;
	--uml-img-width: 800px;
}

*{
	margin: 0;
	padding: 0;
	min-width: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* SCROLL BAR */

.navbar::-webkit-scrollbar-thumb {
	background: transparent;
}

.navbar::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

.navbar::-webkit-scrollbar-track {
	background: transparent;
}

.navbar:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}

.navbar:hover::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

.navbar:hover::-webkit-scrollbar-track {
	background: var(--grey);
}

body::-webkit-scrollbar-thumb {
	background: transparent;
}

body::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}

body:hover::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

body:hover::-webkit-scrollbar-track {
	background: var(--grey);
}

code::-webkit-scrollbar-thumb {
	background: transparent;
}

code::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

code::-webkit-scrollbar-track {
	background: transparent;
}

code:hover::-webkit-scrollbar-thumb {
	background: var(--accent);
}

code:hover::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

code:hover::-webkit-scrollbar-track {
	background: var(--grey);
}
/* CODE BLOCK HIGHLIGHT */

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: transparent;
	font-family: monospace;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
	color: #8be9fd;
}

.hljs-keyword {
	color: #ff79c6;
}

.hljs,
.hljs-subst {
	color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
	font-style: italic;
	color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
	color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
	font-weight: semi-bold;
}

.hljs-literal,
.hljs-number {
	color: #bd93f9;
}

.hljs-emphasis {
	font-style: italic;
}

/* CONTAINER */

.container{
	font-family: 'monospace', sans-serif;
	color: var(--text);
	background-color: var(--black);
	font-size: 20px;
}

/* NAVBAR */

.navbar{
	z-index: 20;
	position: fixed;
	background-color: var(--grey);
	overflow-y: scroll;
	height: 100%;
}

nav details{
	padding: 1rem;
}

nav details > summary{
	font-weight: bold;
	text-transform: uppercase;
}

nav details > summary:hover{
	transition-duration: var(--duration);
	cursor: pointer;
}

nav details ul{
	padding: 0.5rem 1.9rem;
	list-style-type: circle;
}


nav details ul li:hover{
	text-decoration: underline;
	transition-duration: var(--duration);
}

nav details ul a{
	display: block;
	text-decoration: none;
	color: var(--text);
}

nav details ul .selected > a{
	color: var(--accent);
	font-weight: semi-bold;
}

/* MAIN */

.welcome{
	padding: 1rem 1rem 1rem 23rem;
	text-align: center;

	& > quote {
		text-align: center;
		transform: translateX(-1rem);
	}

}

main{
	background-color: var(--background);
	padding: 1rem;
	min-height: 100vh;
}

main h1{
	text-align: center;
	padding: 1rem 0;
}

main pre{
	width: 100%;
	border: 1px dotted var(--text);
	padding: 1rem;
	margin: 1rem 0;
}

main code{
	background-color: #010101;
}

main p {
	padding: 1rem 0;
}

main .bullet{
	list-style: circle;
	padding-left: 1.5rem;
}

main quote{
	display: block;
	padding: 1rem;
	font-style: italic;
	background-color: #010101;
	text-align: center;
}


main details {
	background-color: var(--grey);
	padding: 1rem 1rem;
	border-radius: 1.5rem;
	border: 1px solid var(--accent);
	margin: 1rem 0;
}

main details > summary {
	font-size: 28px;
}

main details ul{
	list-style: disc;
	padding-left: 1.5rem;
}


main details > summary:hover{
	cursor: pointer;
}

main .faq ul li details > summary::before{
	content: 'Q. ';
	font-style: semi-bold;
	color: var(--accent);
}

main .faq .answer{
	background-color: #010101;
	font-style: italic;
}

main .faq .answer *{
	background-color: #010101;
	font-style: italic;
}

main .uml{
	position: relative;
	margin: 2rem auto;
	width: var(--uml-img-width);
}

main .uml > img{
	width: var(--uml-img-width);
}

@media screen and (max-width: 784px) {
	.navbar {
		position: relative;
		text-align: center;
		width: 100%;
	}
	.navbar ul{
		list-style: none;
	}
	.welcome{
		padding: 1rem;
		text-align: center;
		& > quote {
			text-align: center;
		}
	}
	.container{
		display: flex;
		flex-direction: column-reverse;
	}
}
