@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap');

:root{
	--text: #ddd;
	--background: #000;
	--accent: orange;
	--grey: #222;
	--duration: 200ms;
}

*{
	margin: 0;
	padding: 0;
	min-width: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
}

*::-webkit-scrollbar {
	max-width: 0.4rem;
	max-height: 0.4rem;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
	background: var(--text);
	border-radius: 1rem;
}

*:hover::-webkit-scrollbar-track {
	background: transparent;
}

/* CODE HIGHLIGHT */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: transparent;
	font-family: monospace;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  font-style: italic;
  color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: semi-bold;
}

.hljs-literal,
.hljs-number {
  color: #bd93f9;
}

.hljs-emphasis {
  font-style: italic;
}

/***/

body{
	background-color: var(--background);
	color: var(--text);
	font-family: 'Newsreader', serif;
	font-size: 20px;

	& a{
		text-decoration: none;
	}

	& ul{
		list-style: none;
	}

	& quote{
		display: block;
		padding: 1rem;
		margin: 1rem 0;
		font-style: italic;
		background-color: #010101;
		text-align: center;
	}

	& code{
		margin: 0 4px;
	}

}


nav{
	z-index: 100;
	background-color: var(--grey);
	position: fixed;
	text-align: center;
	width: 20rem;
	height: 100%;
	overflow-y: scroll;

	& > input{
		display: none;
		outline: none;
		border-radius: 15px;
		padding: 0.3rem 0.5rem;
	}

	& section{
		text-align: center;
	}

	& > h3{
		padding: 1rem;
		text-transform: uppercase;
	}

	& details{
		text-align: center;
		padding: 0.5rem;
	}
}


nav details > summary{
	font-weight: semi-bold;
	padding-right: 0.9rem;
	text-transform: uppercase;

	&:hover{
		font-size: 1.1rem;
		transition-duration: var(--duration);
		cursor: pointer;
	}
}

nav details ul{
	padding: 0.2rem 1rem;
}

nav details ul li:hover{
	text-decoration: underline;
	font-size: 1.3rem;
	transition-duration: var(--duration);
}

nav details ul a{
	color: var(--background);
	pointer-events: none;
	cursor: default;
}

nav details ul .active{
	color: var(--text);
	pointer-events: all;
	cursor: pointer;
}

nav details ul .selected > a{
	color: var(--accent);
	font-weight: semi-bold;
}

/* MAIN */

main{
	position: relative;
	padding: 2rem 2rem 0 22rem;
	max-height: 100%;
	min-height: 100vh;

	& code{
		background: #010101;
	}

	& h2 {
		padding: 1rem 0;
	}

	& h3 {
		padding: 0.7rem 0;
	}

	& pre {
		border: 1px solid var(--text);
		overflow: auto;
		padding: 1rem 1rem;
		margin: 1rem 0;
	}

	& p {
		padding: 1rem 0;
	}

	& .bullet{
		list-style: circle;
		padding-left: 1.5rem;
	}
}

main details {
	background-color: var(--grey);
	margin: 0.5rem 0 0.5rem 0;
	padding: 1rem 1rem;
	border-radius: 1.5rem;

	& ul{
		list-style: disc;
		padding-left: 1.5rem;
	}
}

main details > summary {
	font-size: 1.5rem;

	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}

main .faq ul li details > summary::before{
	content: 'Q. ';
	font-style: semi-bold;
	color: var(--accent);
}

main .faq .answer{
	background-color: #010101;
	font-style: italic;
	& *{
		background-color: #010101;
		font-style: italic;
	}
}
